
@font-face {
    font-family: "d9464-arhip_fonts";
    src: url(../fonts/d9464-arkhip_font.ttf);
}

* {
    font-family: "d9464-arhip_fonts";
}

p{
    font-weight: 100;
    font-size: 12pt;
    font-style: italic;
}

h1 {
    font-weight: bolder;
    font-size: 50pt;
}
